<footer class="page-footer font-small blue pt-4" id='colorFooter'>




  <div class="container " id='containerFooter'>

    <div class="row">
      <div class="col-md-12">
        <h4 class="text-uppercase">Contact Me</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class='d-flex flex-row align-items-center'>

          <div>
            <a href="https://www.linkedin.com/in/enrique-fermin-gordon-felixcubacoder/" target="_blank"><img
                style="margin-left:1rem" width='30' height='30' src="/assets/imgs/linked.png" alt="exit"></a>
          </div>
          <div>
            <a href="mailto:enriquefgf86@gmail.com" target="_blank"><img style="margin-left:1rem" width='30' height='30'
                src="/assets/imgs/gmail.png" alt="exit"></a>
          </div>
          <div>
            <a href="https://github.com/enriquefgf86" target="_blank"><img style="margin-left:1rem" width='30'
                height='30' src="/assets/imgs/git.png" alt="exit"></a>
          </div>
          <div>
            <a href="https://www.facebook.com/enrrique.gordon" target="_blank"><img style="margin-left:1rem" width='30'
                height='30' src="/assets/imgs/fb.png" alt="exit"></a>
          </div>

        </div>

      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 align-items-center">

        <div>
          <a target="_blank" class='d-flex -flex-row'><img width='20' height='20'
              src='../../../assets/imgs/phone.png' />
            <h6>+34 622-XXX-XXX</h6>
          </a>
        </div>

        <div>
          <a target="_blank" class='d-flex -flex-row'><img width='20' height='20'
              src='../../../assets/imgs/address.png' />
            <h6>Barcelona,Spain</h6>
          </a>
        </div>

      </div>
    </div>

  </div>







  <div class="footer-copyright text-center py-3 ">
    <h6>© 2020 Copyright: CubanCoder</h6>
  </div>

</footer>
