<video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
  <source src="../../../assets/imgs/moneyRains.webm" type="video/mp4">
</video>

<div class="content">

  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class='d-flex flex-column align-items-center'>

          <img id="logoImg" style="margin-left:1rem" width='130' height='110' src="/assets/imgs/logo.png">
          <h6>Keep Your Money At Eyeshot...</h6>

        </div>
      </div>

      <div class="col-md-6 "id='buttonLine'>
        <div class='d-flex flex-row  align-items-center'>
          <button id="myBtn" routerLink='/login'>User</button>
          <button id="myBtn" routerLink='/signup'>Register</button>
        </div>
      </div>

    </div>
  </div>



</div>
